* {
    box-sizing: border-box;
  }

.header {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 39px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info {
  padding: 30px 20px;
  float: right;
}

main {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn {
  padding: 25px 75px;
  background-color: lightblue;
  border: none;
  border-radius: 15px;
  font-size: 30px;
}

.quiz-hide {
  display: none;
}

.quiz-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quiz-choices button {
  flex-direction: column;
  border: none;
  background-color: lightblue;
  border-radius: 5px;
  padding: 20px 45px;
  margin: 10px 20px;
}